<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Country Picker Globe</title>
  <style>
    html, body { margin: 0; height: 100%; overflow: hidden; }
    #globeViz { width: 100vw; height: 100vh; }
  </style>
</head>
<body>
<div id="globeViz"></div>

<script src="https://unpkg.com/three"></script>
<script src="https://unpkg.com/globe.gl"></script>
<script>
  const Globe = window.Globe;
  const myGlobe = Globe()
    .globeImageUrl('//unpkg.com/three-globe/example/img/earth-blue-marble.jpg')
    .polygonsData([])
    .polygonCapColor(() => 'rgba(200, 0, 0, 0.3)')
    .polygonSideColor(() => 'rgba(0, 100, 0, 0.15)')
    .polygonStrokeColor(() => '#111')
    .onPolygonClick(polygon => {
      alert(`You clicked: ${polygon.properties.ADMIN}`);
    });

  myGlobe(document.getElementById('globeViz'));

  fetch('https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/world.geojson')
    .then(res => res.json())
    .then(countries => {
      myGlobe.polygonsData(countries.features);
    });
</script>
</body>
</html>
